<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.donnie.doraemon.gadgets.bluetooth.advertisement">

  <!-- Allows applications to discover and pair bluetooth devices.-->
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <!-- Allows applications to connect to paired bluetooth devices.-->
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <!--  Between Android N and R, fine location access is needed for scanning for nearby devices-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

  <application>
    <activity
      android:name=".AdvertiseActivity"
      android:exported="false" />

    <service
      android:name=".service.AdvertiseService"
      android:enabled="true"
      android:exported="true" />
  </application>

</manifest>